---
search: false
---

$serif: Georgia, Times, serif !default;
$sans-serif: "IBM Plex Sans", sans-serif !default;
$monospace: "JetBrains Mono" monospace !default;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
