<div>
  <img src="/assets/caves.jpg" alt="Headshot of Kartikey Chauhan">
  <p>
    Hi, I'm <strong>Kartikey</strong>. I'm a software developer from India.
    You can contact me on my <a href="mailto:kartikeychauhan27@gmail.com" target="_blank">Email</a>,
    see some of my work on <a href="https://www.github.com/carteakey" target="_blank">GitHub</a>,
    or read more about me on <a href="https://carteakey.github.io" target="_blank">my website</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
